.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: azure;
}

.container {
    height: 50vh;
    border: 4px solid black;
    background-color: #ffffff;
}

.button {
    width: 120px;
    height: 48px;
}

.gridDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid1 {
    font-size: 32px;
}
.grid2 {
    font-size: 24px;
}
.input {
    height: 24px; 
    width: 160px; 
    margin-left: 48px;
}
@media screen and (max-width: 740px) {
    .gridDisplay{
        display: block;
        margin: auto;
    }
    .input {
        margin-left: 4px;
    }
}